# {{ ansible_managed }}
# Fail2Ban configuration file

[Definition]

loglevel = {{ fail2ban_loglevel }}

logtarget = {{ fail2ban_logtarget }}
{% if fail2ban_logtarget == "SYSLOG" %}
syslog-target = {{ fail2ban_syslog_target }}
syslog-facility = {{ fail2ban_syslog_facility }}
{% endif %}

syslogsocket = auto

socket = {{ fail2ban_socket }}

pidfile = {{ fail2ban_pidfile }}

dbfile = /var/lib/fail2ban/fail2ban.sqlite3

dbpurgeage = {{ fail2ban_bantime }}
