# {{ ansible_managed }}
# Fail2Ban configuration file.

[INCLUDES]

#before = paths-distro.conf
before = paths-debian.conf


[DEFAULT]

ignoreip = {{ fail2ban_ignoreip }}
bantime  = {{ fail2ban_bantime }}
maxretry = {{ fail2ban_maxretry }}

backend = {{ fail2ban_backend }}

usedns = warn
logencoding = auto

destemail = {{ fail2ban_destemail}}


# ACTIONS
port = 0:65535

banaction = {{ fail2ban_banaction }}

mta = {{ fail2ban_mta }}

protocol = {{ fail2ban_protocol }}

chain = {{ fail2ban_chain }}

# The simplest action to take: ban only
action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report to the destemail.
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report and relevant log lines
# to the destemail.
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

# Choose default action.  To change, just override value of 'action' with the
# interpolation to the chosen action shortcut (e.g.  action_mw, action_mwl, etc) in jail.local
# globally (section [DEFAULT]) or per specific section

action = %({{ fail2ban_action}})s

#
# JAILS
#

{% for service in fail2ban_services %}
[{{ service.name }}]
enabled = {{ service.enabled | default('true') }}
port = {{ service.port }}
filter = {{ service.filter }}
logpath = {{ service.logpath }}
{% if service.maxretry is defined %}
maxretry = {{ service.maxretry }}
{% endif %}
{% if service.protocol is defined %}
protocol = {{ service.protocol }}
{% endif %}
{% if service.action is defined %}
action = %({{ service.action }})s
{% endif %}
{% if service.banaction is defined %}
banaction = {{ service.banaction }}
{% endif %}

{% endfor %}
